.cal-month,
.cal-days,
.cal-weekdays {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	align-items: center;
}

.cal-month-name {
	grid-column-start: 2;
	grid-column-end: 7;
	text-align: center;
}

.cal-nav {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 3rem;
	padding: 2px;
}

.cal-weekday {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 3rem;
	padding: 2px;
}
.cal-btn {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 3rem;
	padding: 0;
	margin: 2px;
	background-color: rgba(104, 255, 189, 0.8);
}

.booked {
	background-color: rgba(255, 104, 104, 0.8);
}

.regatta {
	background-color: rgba(34, 177, 67, 0.8);
}

.cal-btn:not([disabled]) {
	font-weight: 500;
}

.cal-btn:hover,
.cal-btn:focus,
.cal-nav:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.cal-btn[disabled] {
	border: 0;
	opacity: 0.5;
	background-color: rgba(0, 0, 0, 0.05);
}
