// Bootstrap css defaults
$red: #dc3545;
$yellow: #ffc107;
$green: #198754;
$white: #fff;
$gray-600: #6c757d;
$gray-800: #343a40;

// Bootstrap overwrites
$blue: #1e497c !default;
$colors: (
	"blue": $blue,
	//"red":        $red,
	"yellow": $yellow,
	//"green":      $green,
	"white": $white,
	"gray": $gray-600,
	"gray-dark": $gray-800,
) !default;
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 1080px,
) !default;
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 1020px,
) !default;
$grid-gutter-width: 1rem !default;
$headings-margin-bottom: 1rem !default;

// due to bug set to 0
$dropdown-spacer: 0;

@import "../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
//@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
//@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
//@import "../node_modules/bootstrap/scss/badge";
//@import "../node_modules/bootstrap/scss/alert";
//@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
//@import "../node_modules/bootstrap/scss/toasts";
//@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";
//@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/carousel";
//@import "../node_modules/bootstrap/scss/spinners";
//@import "../node_modules/bootstrap/scss/offcanvas";
//@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

// Photoswipe
@import "../node_modules/photoswipe/dist/photoswipe";

// Bootstrap supplements
.h-0 {
	height: 0;
}
// YCG Styles
article,
aside,
#archive,
#booking {
	@extend .my-4, .container;
}
.post-edit-link,
input[type="submit"] {
	@extend .btn, .btn-warning;
}
// Event Styles
@include media-breakpoint-up(md) {
	.post-img {
		height: 300px;
		overflow: hidden;
		position: relative;
	}
	.post-img > img {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
@include media-breakpoint-up(lg) {
	.post-img {
		height: 400px;
	}
}
.card-body > p {
	@extend .card-text;
}
// Form Styles
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
	@extend .form-control;
}
form label {
	@extend .w-100;
}
// WordPress Alignment Classes
img.alignnone,
img.aligncenter,
.img-align {
	@extend .rounded, .mx-auto, .d-block, .mw-100, .h-auto, .mb-3;
}
img.alignleft {
	@extend .img-align, .float-md-start, .me-md-3;
}
img.alignright {
	@extend .img-align, .float-md-end, .ms-md-3;
}

/*******************************Calendar Top Navigation*********************************/
div#calendar {
	margin: 0px auto;
	padding: 0px;
}
div#calendar div.box {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #787878;
}
div#calendar div.header {
	line-height: 50px;
	vertical-align: center;
	position: relative;
	width: 95%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
div#calendar div.header a.prev,
div#calendar div.header a.next {
	position: absolute;
	top: 0px;
	height: 17px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}
div#calendar div.header span.title {
	color: #fff;
	font-size: 30px;
}
div#calendar div.header a.prev {
	left: 0px;
}
div#calendar div.header a.next {
	right: 0px;
}
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content {
	border: 4px solid #787878;
	border-top: none;
}
div#calendar ul.label {
	list-style-type: none;
	margin: auto;
	padding: 0px;
	overflow: hidden;
	display: inline;
}
div#calendar ul.label li {
	display: inline-block;
	width: 14.285%;
	text-align: center;
	height: 40px;
	line-height: 50px;
}
div#calendar ul.dates {
	padding: 0px;
}
/** overall width = width+padding-right**/
div#calendar ul.dates li {
	display: inline-block;
	margin-right: 0.5%;
	margin-left: 0.5%;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 80px;
	float: left;
	width: 13.285%;
	height: 80px;
	background-color: #ddd;
	color: #000;
	text-align: center;
}
:focus {
	outline: none;
}
div.clear {
	clear: both;
}
.calendar_day {
	color: black;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 25px;
	transition-duration: 0.25s;
}
.calendar_day_free {
	background-color: #74f5aa;
	border: 2px solid #4caf50;
	cursor: pointer;
	:hover {
		background-color: green;
		color: white;
	}
}
.calendar_day_booked {
	background-color: #ff7c5c;
	border: 2px solid #eb3535;
	cursor: pointer;
	:hover {
		background-color: rgb(253, 53, 53);
		color: white;
	}
}
